# ## Summary Analysis
 - Even though Males tend to be the largest purchases of items, female players on average pay the highest for items per player.
 - Players between the ages of 20-24 command the largest majority within Heroes Of Pymoli.
 - Oathbreaker, Last Hope of the Breaking Storm, Fiery Glass Crusader, and Nirvana are the top three most popular and profitable items in Heroes Of Pymoli.

In [1]:
import pandas as pd
import numpy as np
import os
import csv

## Player Count

In [2]:
hop_df = pd.read_csv("Resources/purchase_data.csv")
unique_user_count = len(hop_df["SN"].unique())
total_count_table = pd.DataFrame({"Total Players": [unique_user_count]})
total_count_table

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
unique_item_count = len(hop_df["Item Name"].unique())
item_count_table = pd.DataFrame({"Item Name": [unique_item_count]})
average_purchase = hop_df["Price"].mean()
num_total_purchase = hop_df["Price"].count()
revenue_purchases = hop_df["Price"].sum()
purchasing_analysis_table = pd.DataFrame({"Unique Items": [unique_item_count], "Average Purchase Price":[average_purchase], "Total Number of Purchase" : [num_total_purchase], "Total Revenue": [revenue_purchases]})
purchasing_analysis_table["Average Purchase Price"] = purchasing_analysis_table["Average Purchase Price"].map("${0:,.2f}".format)
purchasing_analysis_table["Total Revenue"] = purchasing_analysis_table["Total Revenue"].map("${0:,.2f}".format)
purchasing_analysis_table

   Unique Items Average Purchase Price  Total Number of Purchase Total Revenue
0           179                  $3.05                       780     $2,379.77

## Gender Demographics

In [4]:
male_group = hop_df.loc[hop_df["Gender"] == "Male"]
female_group = hop_df.loc[hop_df["Gender"] == "Female"]
other_group = hop_df.loc[hop_df["Gender"] == "Other / Non-Disclosed"]
clean_males = len(male_group["SN"].unique())
clean_females = len(female_group["SN"].unique())
clean_others = len(other_group["SN"].unique())
clean_all = []
clean_all.append(len(male_group["SN"].unique()))
clean_all.append(len(female_group["SN"].unique()))
clean_all.append(len(other_group["SN"].unique()))
male_decimal = (clean_males/unique_user_count)*100
female_decimal = (clean_females/unique_user_count)*100
other_decimal = (clean_others/unique_user_count)*100
data_demo_table = pd.DataFrame({"Total Count": [clean_males, clean_females, clean_others], "Percentage of Players": [male_decimal, female_decimal,other_decimal]})
#purchase_analysis_a_df.index = (["<10", "10-14","15-19","20-24","25-29","30-34","34-39","40+"])
data_demo_table.index = (["Males", "Females", "Other / Non-Disclosed"])
data_demo_table["Percentage of Players"] = data_demo_table["Percentage of Players"].map("{:.1f}%".format)
data_demo_table

                       Total Count Percentage of Players
Males                          484                 84.0%
Females                         81                 14.1%
Other / Non-Disclosed           11                  1.9%

 ## Purchasing Analysis (Gender)

In [5]:
purchase_count = []
purchase_count.append(len(male_group["Price"]))
purchase_count.append(len(female_group["Price"]))
purchase_count.append(len(other_group["Price"]))
total_purchase = []
total_purchase.append(sum(male_group["Price"]))
total_purchase.append(sum(female_group["Price"]))
total_purchase.append(sum(other_group["Price"]))    
average_purchase = []
for purchases in range(0, len(total_purchase)):
    average_purchase.append(total_purchase[purchases]/purchase_count[purchases])
avg_pur_per_person_gend = []
for person in range(0, len(total_purchase)):
    avg_pur_per_person_gend.append(total_purchase[person]/clean_all[person])    
purchase_anal_table = pd.DataFrame({"Gender": ["Males", "Females", "Other / Non-Disclosed"], "Purchase Count": purchase_count, "Average Purchase Price": average_purchase, "Total Purchase Value": total_purchase, "Avg Total Purchase per Person": avg_pur_per_person_gend})
purchase_anal_table["Average Purchase Price"] = purchase_anal_table["Average Purchase Price"].map("${0:,.2f}".format)
purchase_anal_table["Total Purchase Value"] = purchase_anal_table["Total Purchase Value"].map("${0:,.2f}".format)
purchase_anal_table["Avg Total Purchase per Person"] = purchase_anal_table["Avg Total Purchase per Person"].map("${0:,.2f}".format)
purchase_anal_table

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Males,652,$3.02,"$1,967.64",$4.07
1,Females,113,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Purchasing Demographic (Age)

In [6]:
new_purchase_data_age = hop_df.loc[:,["SN", "Purchase ID", "Price"]]

hop_df["Age Demographics"] = pd.cut(hop_df["Age"], [0, 10, 15, 20, 25, 30, 35, 40, 150], 
                              labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
                              include_lowest=True, right=False)

age_purchase_data = hop_df.groupby("Age Demographics")

age_demographics_purchase_count = hop_df.groupby("Age Demographics").count()["Purchase ID"]

age_demographic_avg_purchase_price = hop_df.groupby(["Age Demographics"]).mean()["Price"]

age_demographic_total_purchase = hop_df.groupby(["Age Demographics"]).sum()["Price"]

age_demographic_avg_total_person = age_demographic_total_purchase / age_demographics_purchase_count

age_purchasing_analysis_table = pd.DataFrame({"Purchase Count": age_demographics_purchase_count,
                           "Average Purchase Price": age_demographic_avg_purchase_price, 
                           "Total Purchase Value": age_demographic_total_purchase,
                           "Average Total per Person": age_demographic_avg_total_person})

age_purchasing_analysis_table["Average Purchase Price"] = age_purchasing_analysis_table["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_analysis_table["Total Purchase Value"] = age_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)
age_purchasing_analysis_table["Average Total per Person"] = age_purchasing_analysis_table["Average Total per Person"].map("${:.2f}".format)

age_purchasing_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total per Person
Age Demographics,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

In [7]:
spender_df = hop_df[["SN","Price","Item Name"]]
total_spender = spender_df.groupby("SN").sum()
total_spender.sort_values(by ="Price", ascending=False, inplace=True)
spender_name = list(total_spender.index.values)
top_spender = [spender_name[0], spender_name[1], spender_name[2], spender_name[3], spender_name[4]]
total_purchase_value_0 = total_spender.iloc[0,0]
total_purchase_value_1 = total_spender.iloc[1,0]
total_purchase_value_2 = total_spender.iloc[2,0]
total_purchase_value_3 = total_spender.iloc[3,0]
total_purchase_value_4 = total_spender.iloc[4,0]
total_purchase_value_list = [total_spender.iloc[0,0],total_spender.iloc[1,0],total_spender.iloc[2,0],total_spender.iloc[3,0],total_spender.iloc[4,0]]
purchase_count_0 = spender_df[spender_df["SN"] == spender_name[0]].count()[0]
purchase_count_1 = spender_df[spender_df["SN"] == spender_name[1]].count()[0]
purchase_count_2 = spender_df[spender_df["SN"] == spender_name[2]].count()[0]
purchase_count_3 = spender_df[spender_df["SN"] == spender_name[3]].count()[0]
purchase_count_4 = spender_df[spender_df["SN"] == spender_name[4]].count()[0]
purchase_count_list = [purchase_count_0, purchase_count_1, purchase_count_2, purchase_count_3, purchase_count_4]
average_price_1 = total_purchase_value_0/purchase_count_0
average_price_2 = total_purchase_value_1/purchase_count_1
average_price_3 = total_purchase_value_2/purchase_count_2
average_price_4 = total_purchase_value_3/purchase_count_3
average_price_5 = total_purchase_value_4/purchase_count_4
average_price_list = [average_price_1, average_price_2, average_price_3, average_price_4, average_price_5]
spender_list = {"SN":"" , "Purchase Count": purchase_count_list, "Average Purchase Price": average_price_list, "Total Purchase Value": total_purchase_value_list}
spender_list_table = pd.DataFrame(spender_list)
spender_list_table.index = ([top_spender])
spender_list_table["Average Purchase Price"] = spender_list_table["Average Purchase Price"].map("${0:,.2f}".format)
spender_list_table["Total Purchase Value"] = spender_list_table["Total Purchase Value"].map("${0:,.2f}".format)
spender_list_table

            SN  Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                    5                  $3.79               $18.96
Idastidru52                  4                  $3.86               $15.45
Chamjask73                   3                  $4.61               $13.83
Iral74                       4                  $3.40               $13.62
Iskadarya95                  3                  $4.37               $13.10

## Most Popular Items

In [8]:
popular_purchase_data = hop_df.loc[:,["Item ID", "Item Name", "Price"]]

popular_purchase_data = hop_df.groupby(["Item ID", "Item Name"])

number_purchases_popular = hop_df.groupby(["Item ID", "Item Name"]).count()["Purchase ID"]

total_purchase_popular = hop_df.groupby(["Item ID", "Item Name"]).sum()["Price"]

item_price_popular = total_purchase_popular / number_purchases_popular

popular_purchasing_analysis_table = pd.DataFrame({"Purchase Count": number_purchases_popular,
                           "Item Price": item_price_popular,                 
                           "Total Purchase Value": total_purchase_popular})

popular_purchasing_analysis_table["Total Purchase Value"] = popular_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)
popular_purchasing_analysis_table["Item Price"] = popular_purchasing_analysis_table["Item Price"].map("${:.2f}".format)

popular_purchasing_analysis_table = popular_purchasing_analysis_table.sort_values(
    ["Purchase Count"], ascending=False)

popular_purchasing_analysis_table.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [18]:
profitable_purchasing_analysis_table = popular_purchasing_analysis_table.sort_values(by=["Total Purchase Value"], ascending=False)

#df = df.sort_values(['Total Due']) or df.sort_values(['Total Due'], inplace=True)

profitable_purchasing_analysis_table

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
18,"Torchlight, Bond of Storms",2,$4.65,$9.30
129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
166,Thirsty Iron Reaver,3,$3.07,$9.21
123,Twilight's Carver,4,$2.28,$9.12
49,"The Oculus, Token of Lost Worlds",3,$2.96,$8.88
156,Soul-Forged Steel Shortsword,5,$1.77,$8.85
161,Devine,5,$1.76,$8.80
149,"Tranquility, Razor of Black Magic",5,$1.75,$8.75
169,"Interrogator, Blood Blade of the Queen",4,$2.18,$8.72
107,"Splitter, Foe Of Subtlety",4,$2.18,$8.72
122,Unending Tyranny,3,$2.85,$8.55
4,Bloodlord's Fetish,5,$1.70,$8.50
181,Reaper's Toll,5,$1.66,$8.30
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
142,Righteous Might,3,$2.62,$7.86
127,"Heartseeker, Reaver of Souls",2,$3.92,$7.84
97,"Swan Song, Gouger Of Terror",3,$2.50,$7.50
6,Rusty Skull,2,$3.70,$7.40
81,Dreamkiss,2,$3.61,$7.22
131,Fury,5,$1.44,$7.20
10,Sleepwalker,4,$1.79,$7.16
43,Foul Edge,2,$3.54,$7.08
152,Darkheart,4,$1.74,$6.96
...,...,...,...,...
162,Abyssal Shard,5,$2.67,$13.35
83,Lifebender,4,$3.33,$13.32
22,Amnesia,6,$2.18,$13.08
119,"Stormbringer, Dark Blade of Ending Misery",3,$4.32,$12.96
76,Haunted Bronzed Bludgeon,4,$3.15,$12.60
172,Blade of the Grave,4,$3.14,$12.56
74,Yearning Crusher,3,$4.18,$12.54
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
85,Malificent Bag,7,$1.75,$12.25
79,"Alpha, Oath of Zeal",3,$4.05,$12.15
105,Hailstorm Shadowsteel Scythe,4,$3.03,$12.12
148,"Warmonger, Gift of Suffering's End",3,$4.03,$12.09
182,Toothpick,3,$4.03,$12.09
44,Bonecarvin Battle Axe,5,$2.38,$11.90
93,Apocalyptic Battlescythe,6,$1.97,$11.82
8,"Purgatory, Gem of Regret",3,$3.93,$11.79
144,Blood Infused Guardian,6,$1.94,$11.64
61,Ragnarok,3,$3.87,$11.61
164,Exiled Doomblade,7,$1.63,$11.41
84,Arcane Gem,3,$3.79,$11.37
71,Demise,7,$1.61,$11.27
9,"Thorn, Conqueror of the Corrupted",4,$2.73,$10.92
112,Worldbreaker,4,$2.60,$10.40
73,Ritual Mace,5,$2.05,$10.25
106,Crying Steel Sickle,3,$3.41,$10.23
151,Severance,3,$3.40,$10.20
110,Suspension,7,$1.44,$10.08
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75